.header {
  background-color: #333;
  color: #fff;
  padding: 30px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  margin-right: 20px;
}

.header .header_list ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.header .header_list ul li {
  display: inline;
}

.header .header_list ul li a {
  text-decoration: none;
  color: #fff;
}

.header .header_list ul li a:hover {
  color: #ff4500;
}
